In [5]:
def my_function():
    pass

In [6]:
def my_sq(x):
    return x ** 2

In [7]:
my_sq(4)

16

In [8]:
def avg_2(x, y):
    return (x + y) / 2

In [9]:
avg_2(10, 20)

15.0

In [10]:
assert avg_2(10, 20) == 15.0

In [11]:
import pandas as pd

In [12]:
df=pd.DataFrame({'a':[10,20,30],
                 'b':[20,30,40]})
df

    a   b
0  10  20
1  20  30
2  30  40

In [13]:
df['a'] ** 2

0    100
1    400
2    900
Name: a, dtype: int64

In [14]:
type(df['a'])

pandas.core.series.Series

In [15]:
def my_sq(x):
    # assert isinstance(x, int)
    return x ** 2

In [16]:
df['a'].apply(my_sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [17]:
def my_exp(x, e):
    return x ** e

In [18]:
my_exp(2, 2)

4

In [19]:
my_exp(2, 10)

1024

In [20]:
df['a'].apply(my_exp, e=10)

0        10000000000
1     10240000000000
2    590490000000000
Name: a, dtype: int64

In [21]:
def print_me(x):
    print(x)

In [22]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [23]:
df.apply(print_me, axis=0)

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

a    None
b    None
dtype: object

In [24]:
def avg_3(x, y, z):
    return (x + y + z) / 3

In [25]:
df.apply(avg_3)

TypeError: avg_3() missing 2 required positional arguments: 'y' and 'z'

In [26]:
def avg_3_apply(col):
    x = col[0]
    y = col[1]
    z = col[2]
    return (x + y + z) / 3

In [27]:
df.apply(avg_3_apply)

a    20.0
b    30.0
dtype: float64

In [28]:
import numpy as np

In [29]:
df.apply(np.mean)

a    20.0
b    30.0
dtype: float64

In [30]:
df.apply(avg_3_apply, axis=1)

C:\Users\ruben.rodriguez\AppData\Local\Temp\ipykernel_3412\810217712.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x = col[0]
C:\Users\ruben.rodriguez\AppData\Local\Temp\ipykernel_3412\810217712.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  y = col[1]
C:\Users\ruben.rodriguez\AppData\Local\Temp\ipykernel_3412\810217712.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  z = col[2]

IndexError: index 2 is out of bounds for axis 0 with size 2

In [31]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [32]:
def avg_2_apply(row):
    x = row[0]
    y = row[1]
    return (x + y) / 2

In [33]:
df.apply(avg_2_apply, axis=1)

C:\Users\ruben.rodriguez\AppData\Local\Temp\ipykernel_3412\646818405.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x = row[0]
C:\Users\ruben.rodriguez\AppData\Local\Temp\ipykernel_3412\646818405.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  y = row[1]

0    15.0
1    25.0
2    35.0
dtype: float64

In [34]:
import seaborn as sns

In [35]:
titanic = sns.load_dataset('titanic')

In [37]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [38]:
def count_missing(vec):
    """Counts the number of missing values in a vector
    """
    null_vec = pd.isnull(vec)
    null_count = np.sum(null_vec)
    return null_count

In [39]:
count_missing?

Signature: count_missing(vec)
Docstring:
Counts the number of missing values in a vector

File:      c:\users\ruben.rodriguez\appdata\local\temp\ipykernel_3412\3590789969.py
Type:      function

In [40]:
cmis_col = titanic.apply(count_missing)

In [41]:
cmis_col

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
titanic.info()

In [ ]:
cmis_row = titanic.apply(count_missing, axis=1)

In [ ]:
cmis_row

In [42]:
def avg_2(x, y):
    return (x + y) / 2

In [44]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [45]:
avg_2(df['a'], df['b'])

0    15.0
1    25.0
2    35.0
dtype: float64

In [46]:
(df['a'] + df['b']) / 2

0    15.0
1    25.0
2    35.0
dtype: float64

In [47]:
def avg_2_mod(x, y):
    if (x == 20):
        return np.NaN
    else:
        return (x + y) / 2

In [ ]:
avg_2_mod(df['a'], df['b'])

In [49]:
avg_2_mod(10, 20)

15.0

In [50]:
avg_2_mod(20, 30)

nan

In [ ]:
import numpy as np

In [51]:
avg_2_mod_vec = np.vectorize(avg_2_mod)

In [52]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [53]:
avg_2_mod_vec(df['a'], df['b'])

array([15., nan, 35.])

In [55]:
@np.vectorize
def v_avg_2_mod(x, y):
    if (x == 20):
        return np.NaN
    else:
        return (x + y) / 2

In [56]:
v_avg_2_mod(df['a'], df['b'])

array([15., nan, 35.])

In [58]:
import numba

In [59]:
@numba.vectorize
def v_avg_2_mod_numba(x, y):
    if (x == 20):
        return np.NaN
    else:
        return (x + y) / 2

In [60]:
v_avg_2_mod_numba(df['a'].values, df['b'].values)

array([15., nan, 35.])

In [61]:
%%timeit
avg_2(df['a'], df['b'])

57 µs ± 808 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [62]:
%%timeit
v_avg_2_mod(df['a'], df['b'])

16.7 µs ± 177 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [63]:
%%timeit
v_avg_2_mod_numba(df['a'].values, df['b'].values)

4.22 µs ± 124 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)